.nbb-breadcrumb {
    margin: 10px;

    button {
        display: inline-block;
        background: $color-gray-b;
        color: white;
        font-weight: 200;
        letter-spacing: 0.05em;
        position: relative;

        &:hover {
            cursor: pointer;
            background: white;
            color: $color-gray-b;

            &:after {
                color: white;
            }
        }

        &:after {
            content: "/";
            position: absolute;
            right: -8px;
        }

        &:last-child {
            font-weight: 300;
            letter-spacing: inherit;
            opacity: 0.5;

            &:after {
                display: none;
            }
        }
    }
}
