@import "imageviewer_imageitem.scss";
@import "imageviewer_controls.scss";
@import "imageviewer_stripe.scss";
@import "imageviewer_lens.scss";

.nbb-imageviewer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    z-index: 2000;

    &.stripe {
        .nbb-imageviewer__image-item,
        .nbb-imageviewer__controls {
            width: calc(100% - 20vw);
            transform-origin: right;
            right: 0;
            position: absolute;
        }
    }
}
